{% extends "app/layout.html" %}
{% load static %}

{% block content %}
<div class="content-section">
    <h2>{{ title }}</h2>

    <p>Добро пожаловать на <strong>«Свои Новости»</strong>.</p>
    <p>Это независимый ресурс, посвященный ключевым политическим событиям нашей страны. Наш портал ежедневно публикует новости, предоставляя объективную оценку событиям.</p>
    <p>Наша редакция состоит из <em>профессиональных журналистов</em> и экспертов-политологов. Ежедневно мы публикуем свежие новости, интервью с государственными деятелями и детальные разборы законопроектов.</p>
    <p>Присоединяйтесь к нашей аудитории в MAX, чтобы всегда быть в курсе того, что происходит на мировой и отечественной политической арене. Читайте, анализируйте и делайте собственные выводы вместе с нами.</p>
</div>
{% endblock %}