{% extends "app/layout.html" %}
{% load static %}

{% block content %}
<div class="content-section">
    <h2>{{ title }}</h2>

    {% if form != None %}
    <form method="post">
        {% csrf_token %}

        <p>{{ form.name.label_tag }}<br>{{ form.name }}</p>
        <p>{{ form.age.label_tag }}<br>{{ form.age }}</p>
        <p>{{ form.email.label_tag }}<br>{{ form.email }}</p>
        <p>{{ form.site_rating.label_tag }}<br>{{ form.site_rating }}</p>
        <p>{{ form.favorite_section.label_tag }}<br>{{ form.favorite_section }}</p>
        <p>{{ form.liked_features.label_tag }}<br>{{ form.liked_features }}</p>
        <p>{{ form.subscribe }} {{ form.subscribe.label_tag }}</p>
        <p>{{ form.wishes.label_tag }}<br>{{ form.wishes }}</p>

        <button type="submit" class="btn" id="send-btn">Отправить отзыв</button>
    </form>
    {% else %}
    <h3>Спасибо за ваш отзыв!</h3>
    <ul class="resource-list">
        <li><strong>Имя:</strong> {{ data.name }}</li>
        <li><strong>Возраст:</strong> {{ data.age }}</li>
        <li><strong>Email:</strong> {{ data.email }}</li>
        <li><strong>Оценка сайта:</strong> {{ data.site_rating }}</li>
        <li><strong>Любимый раздел:</strong> {{ data.favorite_section }}</li>
        <li><strong>Что понравилось:</strong> {{ data.liked_features }}</li>
        <li><strong>Подписка:</strong> {{ data.subscribe }}</li>
        <li><strong>Пожелания:</strong> {{ data.wishes }}</li>
    </ul>
    {% endif %}
</div>

<script>
    function btn_mouseover() {
        $('#send-btn').css('color', 'yellow');
    }

    function btn_mouseout() {
        $('#send-btn').css('color', 'white');
    }

    function input_focus() {
        $(this).css('background-color', '#fff3a3');
    }

    function input_blur() {
        $(this).css('background-color', 'white');
    }
    $('#send-btn').mouseover(btn_mouseover);
    $('#send-btn').mouseout(btn_mouseout);

    $('#id_name, #id_age, #id_email, #id_site_rating, #id_favorite_section, #id_liked_features, #id_wishes').focus(input_focus);
    $('#id_name, #id_age, #id_email, #id_site_rating, #id_favorite_section, #id_liked_features, #id_wishes').blur(input_blur);

</script>
{% endblock %}